


	body

	{

	font-family:verdana;

	font-size:12px;

	}

	

	#playitcontainer

	{

	width:960px;

	background-color:#e5eecc;

	border:1px solid #98bf21;

	margin:auto;

	

	}

	

	#enlargecontextprop

	{

	font-weight:bold;

	font-size:14px;

	color:#000000;

	}

	

	#myCanvas

	{

	margin-left:10px;

	margin-top:3px;

	background-color:#ffffff;

	border:1px solid #c3c3c3;

	}

	

	#styleDIV

	{

	font-family:courier new;

	margin-left:10px;

	background-color:#f1f1f1;

	border:1px solid #c3c3c3;

	width:424px;

	padding:3px;

	padding-top:7px;

	padding-bottom:7px;	

	color:#222222;

	}

	

	div.demoHeader

	{

	font-size:14px;

	margin-top:5px;

	margin-left:5px;

	margin-bottom:2px;

	color:#617f10;

	}

	

	div.playitFooter

	{

	font-size:13px;

	color:#617f10;

	padding:10px;

	}

	

	#footer

	{

	margin:15px;

	}
